@model PaginatedList<BugTracker.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Projects</h1>

<p>
    @if (ViewBag.Manager != null)
    {
        <a asp-action="CreateProject">Create New</a>
        <br/>
        <a asp-action="Index" asp-route-allView="@true">List All Projects</a>
        <br/>
        <a asp-action="Index" asp-route-allView="@false">List Assigned Projects</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index" asp-route-allView="@ViewBag.allView"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index" asp-route-allView="@ViewBag.allView"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
