@model BugTracker.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tickets</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>
        <dt class = "col-sm-2">
            Submitter
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerUser.Email)
        </dd>
        <dt class = "col-sm-2">
            Assigned To Developer
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToUser.Email)
        </dd>
    </dl>
</div>
<div>
    <hr />
    <h4>History</h4>
    @foreach(var item in Model.TicketHistories)
    {
        @if(item.Property == Property.AssignedToUser)
        {
            <p>Ticket assigned to developer @item.NewValue by @item.User.Email at @item.Changed</p> <br />
        }
        else
        {
            <p>Ticket @item.Property changed from @item.OldValue to @item.NewValue by @item.User.Email at @item.Changed </p> <br />
        }
    }
</div>
<div>
    <hr />
    <h4>Comments</h4>
    @foreach(var item in Model.TicketComments)
    {
        <p>@item.Comment   -@item.User.Email</p>
    }
</div>
<div>
    <hr />
    @if(Model.AssignedToUser == null){
        <a asp-action="AssignDeveloper" asp-route-id="@Model?.Id">Assign Developer</a> }
    | <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="CreateComment" asp-route-id="@Model?.Id">Add a comment</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Details" asp-controller="Project" asp-route-id="@Model?.ProjectId">Back to Project</a>
</div>
